/* CSS styles for the website */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.timer-container {
    position: absolute;
    text-align: center;
    color: white;
}

.timer-container-lower {
    position: fixed; /* or 'absolute' if you want it at the bottom of the entire content */
    bottom: 0;
    width: 100%; /* Ensure it spans the full width */
    text-align: center;
    color: white;
}
    
.bottom-timer {
    z-index: 1; 
    width: 100%;
    position: relative; /* Keep this as is if it's relative to the container */  
}

.top-timers {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    align-items:stretch; /* Align items vertically center */
    padding: 20px;
}

.timer {
    font-size: 2em;
    background: rgba(0, 0, 0, 0.5); /* Translucent background */
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}
.flowchart-background {
    /* Update this path to your image */
    background-image: url('/Users/adityasood/Downloads/acls.jpg');
    background-size:cover;
    background-position:top;
    height: 100%;
}
.label {
    font-size: 0.8em;
    color: #ddd;
}

.image-container {
  object-fit:scale-down;
  z-index: 5;
/* or
  object-fit: cover; */
} 


/* Style for the shock button */
.shock-button {
    font-size: 3em;
    background: rgba(0, 0, 0, 0.5); /* Translucent background */
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    align-self: center; /* Align button vertically center in flex container */
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    height:100px;

}

    
/* Dropdown Button */
.dropbtn {
    background-color: grey;
    color: white;
    padding: 10px;
    font-size: 3em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    height:100px;
    
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-size:20px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    
}

/* Links inside the dropdown */
.dropdown-content button {
    color: black;
    font-size:50px;
    width:300px;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content button:hover {background-color: #f1f1f1}

/* Style changes for timers when time criteria are met */
.timer-red {
    color: red;
}

.show {display: block;}
