body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(122, 122, 122);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.btn-container, .btn-group {
    position: relative; /* This is added to ensure dropdown positioning is relative to the button */
}

.btn-group {
width: 100%; /* Same width as .custom-btn */
display: block; /* To make it behave like a block element */
margin: 10px auto; /* centering and spacing, same as .custom-btn */
}

.custom-btn {
    width: 50%;
    padding: 10px 20px;
    font-weight: 600;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 10px auto;  /* centering and spacing */
}

.custom-btn:hover {
    background-color: white;
    color: grey;
}

/* Styling for the dropdown button */
.dropdown-toggle {
    position: relative;
}

.dropdown-toggle::after { /* This is the arrow indicator for dropdown */
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-menu {
    position: relative; /*  positioning for the dropdown */
    left: 50%; /* Positioning it to the right of the button */
    top: 0; /* Aligning it to the top of the button */
    width: auto; /* Let it adjust its width based on content */
    margin: 0; /* No margin */
    border: 1px solid white; /* Consistent border with buttons */
    background-color: grey; /* Set the background color to match the body */
    display: none; /* Initially hidden */
}

.btn-group:hover .dropdown-menu {
    display: block; /* Show dropdown on hover */
}

.dropdown-item {
    color: white;
    text-align: center;
    border-top: 1px solid #bbb;
    transition: background-color 0.3s;
    padding: 10px 20px; /* Consistent padding with buttons */
    display: block; /* Make it block for full width */
    width: 100%; /* Full width */
}

.dropdown-item:first-child {
    border-top: none;
}

.dropdown-item:hover {
    background-color: white;
    color: grey;
}
